/* use this in case of border issues
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
*/

body {
	margin-top: $lg-small-header + $lg-header; // start body below fixed headers
	background-color: lighten($brand-main-color, 78%);
	color: $brand-main-color;
}

//don't collapse margins at the top;
main {
	overflow: auto;
}

// Main & sidebar layout
#ict-main {
	margin: $base-line-height*2 auto 0;
	width: 95%;
}

// / Front page specific #ict-main
body.home #ict-main {
	margin: 0;
	width: 100%;
}
#ict-content-wrapper {
	display: table;
	width: 100%;
	padding-bottom: $base-line-height;
}
#ict-content,
#ict-sidebar {
	display: table-cell;
	padding-right: $base-line-height;
	vertical-align: top;
}
#ict-content {
	min-width: 70%;
	&:last-child {
		width: 100%; //feel free to take all the space if there is no sidebar
	}
}
#ict-sidebar {
	width: 30%;
}
#ict-sidebar-wrapper {
	padding: 0 $base-line-height $base-line-height;
	border: 1px solid rgba($brand-main-color, 0.3);
	background-color: $brand-third-color;
}
.ict-content-header {
	text-align: center;
}
.entry-title {
	margin: auto;
	width: 100%;
	text-align: center;
	line-height: $base-line-height*1.5;
	@include get_green_border(bottom, 1px);
}

// Post & Page style
// div.page to skip body.page class
.post,
div.page {
	padding: 0 $base-line-height $base-line-height;
	margin-bottom: $base-line-height;
	background-color: $brand-third-color;
	border: 1px solid rgba($brand-main-color, 0.3);
	overflow: hidden;
}
.post-categories {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.ict-post-thumbnail-link {}
.attachment-post-thumbnail {
	@extend .alignleft;
	margin-top: ($base-line-height/3);
}

a[rel="author"] b {
	color: $brand-second-color;
}
.publishdate {}

 // Slider positioning
 #ict_slider_wrapper {
	margin: auto; // $lg-hspace;
	@include breakpoint(tablet) {
		margin: 0 $sm-hspace;
	}
	@include breakpoint(mobile) {
		margin: 0 $xs-hspace;
	}
}