/* use this in case of border issues
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
*/
body {
	margin-top: $lg-small-header + $lg-header; // start body below fixed headers
	background-color: lighten($brand-main-color, 78%);
}

// Main & sidebar layout
#ict-main {
	margin: auto;
	width: 95%;
//	background-color: red;
}
// width: 100% on front page
body.home #ict-main {
	width: 100%;
}
#ict-content-header {
	padding-top: $base-line-height/2;
}
#ict-content-wrapper {
	display: table;
	width: 100%;
	padding-bottom: $base-line-height;
}
#ict-content,
#ict-sidebar {
	display: table-cell;
	padding-right: $base-line-height;
}
#ict-content {
	min-width: 70%;
	&:last-child {
		width: 100%; //feel free to take all the space if there is no sidebar
	}
}
#ict-sidebar {
	width: 30%;
}
// Post & Page style
.post,
div.page { // div.page to skip body.page class
	height: auto;
	background-color: $brand-third-color;
	border: 1px solid rgba($brand-main-color, 0.3);
	padding: $base-line-height/2;
	margin-bottom: $base-line-height*2;
}

.post-categories {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.post p,
div.page p { // div.page to ignore <body.page> class
  color: $brand-main-color;
}

.attachment-post-thumbnail {
	@extend .alignleft;
	margin-top: ($base-line-height/3);
}

.page-header {
	margin: 0 $lg-vspace;
}

.publishdate {
	color: $brand-main-color;
}

 // Slider positioning
 #ict_slider_wrapper {
	margin: auto; // $lg-hspace;
	@include breakpoint(tablet) {
		margin: 0 $sm-hspace;
	}
	@include breakpoint(mobile) {
		margin: 0 $xs-hspace;
	}
}