// Footer layout
#footer-widgets {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	margin: 0;
	padding: 0 $lg-hspace;
	background-color: $brand-main-color;
	color: $brand-third-color;
	@include get_green_border(top);
	@include clearfix;
	a {
		color: $brand-third-color;
	}
	a:hover {
		color: $brand-color-a;
	}
	
	h2 {
		color: $brand-third-color;
	}
	div {
		flex: 1 1 33%;
	}
	// Menu - TODO: move to standalone widget style
	ul.menu {
		padding-left: 1em;
	}
	li.menu-item {
		list-style: none;
	}
	li.menu-item a {
		display: inline;
		background: none;
	}
	@include breakpoint(mobile) {
		@include clearfix;
		width: $site-width;
		flex-flow: column nowrap;
	}
}

#left-footer-widgets,
#middle-footer-widgets,
#right-footer-widgets {
	
}