@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// Desktop is the standart layout (pretty much desktop first...)
@mixin breakpoint($device) {
	@if $device == notebook {
		@media screen and (max-width: $screen-md-max) {
			@content;
		}
	} @else if $device == tablet {
		@media screen and (max-width: $screen-sm-max) {
			@content;
		}
	} @else if $device == mobile {
		@media screen and (max-width: $screen-xs-max) {
			@content;
		}
	}
}

// Set the elements border to $position
@mixin get_green_border($position: "", $width: $brand-border-width) {
	@if $position == top {
		border-top: $width $brand-border-style $brand-border-color;
	} @else if $position == right {
		border-right: $width $brand-border-style $brand-border-color;
	} @else if $position == bottom {
		border-bottom: $width $brand-border-style $brand-border-color;
	} @else if $position == left {
		border-left: $width $brand-border-style $brand-border-color;
	} @else {
		border: $width $brand-border-style $brand-border-color;
	}
}