// Frontpage portfolio
// / Portfolio row
.ict-portfolio-row {
	margin: $lg-vspace ($lg-hspace * 2);
	background-image: url('images/increare_logo.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: lighten($brand-main-color, 78%);
	@include clearfix;
	@include breakpoint(tablet) {
		margin: $sm-vspace ($sm-hspace * 2);
	}
	@include breakpoint(mobile) {
		margin: $xs-vspace ($xs-hspace * 2);
	}
}
// / Portfolio column (horizontal portfolio)
.portfolio-column {
	margin: 0;
	width: (100%/3);
	padding: 0;
	padding-top: ($base-line-height*2.7)+($base-line-height/2);
	float: left;
	p {
		font-size: 0.9em;
	}
	&:hover {
		background-color: $grey-light;
	}
	&:nth-child(1) {
		margin-left: -$lg-hspace;
	}
	&:nth-child(2) {
		margin: auto $lg-hspace;
	}
	&:nth-child(3) {
		margin-right: -$lg-hspace;
	}
}
.has-post-thumbnail {
	padding-top: 0;
}
.attachment-portfolio_thumbnail { // WordPress class
	border-radius: $base-line-height * 1.5 ;
	width: $base-line-height *2.5;
	height: $base-line-height *2.5;
	overflow: hidden;
	margin: ($base-line-height / 2) auto 0 auto;
	text-align: center;
}

@include breakpoint(tablet) {
	.portfolio-column {
		&:nth-child(1) {
			margin-left: -$sm-hspace;
		}
		&:nth-child(2) {
			margin: auto $sm-hspace;
		}
		&:nth-child(3) {
			margin-right: -$sm-hspace;
		}
	}
}
@include breakpoint(mobile) {
	.portfolio-column {
		width: $site-width;
		margin: 0 0 $xs-vspace 0 !important;
		clear: both;
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}

.ict-portfolio-header {
	margin: auto;
	width: 70%;
	text-align: center;
	@include get_green_border(bottom, 2px);
}

.ict-portfolio-title {
	margin: 0;
}

.ict-portfolio-section p {
	margin: $base-line-height / 2;
	padding: 0;
	text-align: center;
}

// Portfolio page (vertical portfolio)
#ict-portfolio-page {
	margin: auto;
	margin-bottom: $base-line-height;
	width: 100%;
	overflow: hidden;
	text-align: center;
	h2 {
		font-size: 1.6em;
	}
	p {
		font-size: 1.2em;
		text-align: center;
	}
	
}
.ict-portfolio-page-header {
	text-align: center;
	width: 100%;
	h1 {
		height: ($lg-small-header+$lg-header)*1.5;
		line-height: ($lg-small-header+$lg-header)*1.5;
		color: $brand-third-color;
		background-color: $brand-main-color;
		margin: 0; //reset margins, part of the anchor quickfix
	}
}
//anchor fix
.anchor {
	display: block;
	height: ($lg-small-header+$lg-header); //fix with some actual value, this is just a quickfix
	margin: -($lg-header+$lg-small-header) 0 0 0;
	visibility: hidden;
}

//this is just a short hack, use classes an stuff don't mix that much if not necessary'
.ict-portfolio-page-content {
	.gallery {
		display: table;
		margin: auto;
		border: 1px solid lighten($brand-main-color, 70%);
		figure {
			display: table-cell;
			padding: 0;
			border: $base-line-height solid transparent;
			background-color: $brand-third-color;
			border-right:0;
			&:last-child {
				border-right: $base-line-height solid $brand-third-color;
			}
			& div:last-child { //reset line height, if there is no caption text
				line-height: 0; //reset line height, check for .wp-caption-text issues
			}
			img {
				max-width: 100%; // scaling responsive, but needs breakpoints
			}
			figcaption {
				line-height: $base-line-height;
			}
		}
	}
}
// unused - could be used as portfolio-col-image-placeholder
// .ict-portfolio-title .fa {
//	 text-align: right;
//	 float: right;
//	 font-size: 1.4em;
//	 color: green;
//}