// Frontpage portfolio
// / Portfolio row
.ict-portfolio-row {
	margin: $lg-vspace ($lg-hspace * 2);
	@include clearfix;
	@include breakpoint(tablet) {
		margin: $sm-vspace ($sm-hspace * 2);
	}
	@include breakpoint(mobile) {
		margin: $xs-vspace ($xs-hspace * 2);
	}
}
// / Portfolio column
div.portfolio-column {
	margin: 0;
	width: (100%/3);
	height: auto;
	padding: 0;
	float: left;
	&:hover {
		background-color: $grey-light;
	}
	&:nth-child(1) {
		margin-left: -$lg-hspace;
	}
	&:nth-child(2) {
		margin: auto $lg-hspace;
	}
	&:nth-child(3) {
		margin-right: -$lg-hspace;
	}
}

@include breakpoint(tablet) {
	div.portfolio-column {
		&:nth-child(1) {
			margin-left: -$sm-hspace;
		}
		&:nth-child(2) {
			margin: auto $sm-hspace;
		}
		&:nth-child(3) {
			margin-right: -$sm-hspace;
		}
	}
}
@include breakpoint(mobile) {
	div.portfolio-column {
		width: $site-width;
		margin: 0 0 $xs-vspace 0 !important;
		clear: both;
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}

.ict-portfolio-header {
	text-align: center;
}

.attachment-post-thumbnail { // WordPress class
	border-radius: $base-line-height * 1.5 ;
	width: $base-line-height *3;
	height: $base-line-height *3;
	overflow: hidden;
	margin: ($base-line-height / 2) auto 0 auto;
	text-align: center;
}

.ict-portfolio-title {
	margin: 0;
	&:first-child {
		padding-top: $base-line-height / 2;
	}
}

.ict-portfolio-section p {
	margin: auto $base-line-height / 2;
	padding: floor($base-line-height);
	text-align:center;
}