@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,latin-ext);

html {
	font-family: $base-font;
	font-size: $base-font-size;
}

a {
	color: $brand-color-a;
	text-decoration: none;
	&:hover {
		color: $brand-color-ah;
	}
	&:visited {
		color: $brand-color-av;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $brand-color-h;
}

p {
	text-align: justify;
	line-height: $golden-ratio;
}

// // / Single title 
.single-title {
	line-height: $golden-ratio*$golden-ratio;
}

// // / Post meta
.post-meta {
	text-align: center;
}

.alignleft {
	margin: 0 $base-line-height 0 0;
	float: left;
}
.alignright {
	margin: 0 0 0 $base-line-height;
	float: right;
}
.aligncenter {
	margin: $base-line-height auto;
}

.wp-caption {
	background-color: $brand-third-color;
	@include get_green_border($width: 1px);
	max-width: 96%;
	padding: $base-line-height / 2;
	text-align: center;
}

.wp-caption-text {
	font-size: 0.8em;
	font-style: italic;
}