//wp background size: 1920 x 1278
// Colors

// / Brands color
// / DOC: $brand-color-[tag|state] - tag: a|p|h1|..., state: hover|focus|...
$brand-main-color:			hsl(255,100%,15%);
$brand-second-color:		hsl(120,100%,50%);
$brand-third-color:			hsl(0,0%,96%);
$brand-main-light:			lighten($brand-main-color, 10); // light
$brand-main-dark:			darken($brand-main-color, 10); // dark
$brand-color-a:				$brand-main-light;
$brand-color-ah:			$brand-second-color;
$brand-color-av:			$brand-main-color;
$brand-color-p:				$brand-main-color;
$brand-color-h:				$brand-main-color;

// / Menu hover effect
$main-menu-hover-effect:	rgba(255,255,255,0.2);
$main-menu-active-effect:	rgba(255,255,255,0.2);

// / The border
$brand-border-width:		5px;
$brand-border-style:		solid;
$brand-border-color:		$brand-second-color;

// / Shadow
//$card-shadow:				2px 2px 6px 0 rgba(0, 0, 0, 0.4), 0 2px 10px 0 rgba(0, 0, 0, 0.4);
$card-shadow:				0 0 0 0 rgb(0,0,0);

// / Grey base
$grey-base:					hsl(0,0%,50%);
$grey-light:				lighten($grey-base, 30);
$grey-dark:					darken($grey-base, 30);

// Typography
$golden-ratio:				1.618;
$base-font:					"Open Sans", "Trebuchet MS", sans-serif;
$base-font-size:			16px;
$base-line-height:			$golden-ratio * 1em;

$layer: 99999;
$site_width: 100%;

// Brakpoints
// / Small screen / tablet
$screen-sm-min:		768px !default;
// / Medium screen / desktop
$screen-md-min:		992px !default;
// / Large screen / wide desktop
$screen-lg-min:		1200px !default;
// / So media queries don't overlap when required, provide a maximum
$screen-xs-max:		($screen-sm-min - 1) !default;
$screen-sm-max:		($screen-md-min - 1) !default;
$screen-md-max:		($screen-lg-min - 1) !default;

// /Breakpoint helper

// // Small header
$lg-small-header:	28px;
$md-small-header:	$lg-small-header;
$sm-small-header:	$lg-small-header;
$xs-small-header:	$lg-small-header;

// // Navigation header
$lg-header:			58px;
$md-header:			$lg-header;
$sm-header:			$md-header * (3/4);
$xs-header:			$sm-header;

// // / Brand image scaling
$lg-brand-height:	$lg-header - ($brand-border-width * 2);
$md-brand-height:	$lg-brand-height;
$sm-brand-height:	$md-brand-height * (2/3);
$xs-brand-height:	$sm-brand-height;

// // / Menu text size
$lg-menu-text:		1.3em;
$md-menu-text:		1.1em;
$sm-menu-text:		1em;
$xs-menu-text:		$lg-menu-text;

// // / Menu padding
$lg-menu-padding:	$brand-border-width * 3;
$md-menu-padding:	$lg-menu-padding * (2/3);
$sm-menu-padding:	$lg-menu-padding * (2/3);
$xs-menu-padding:	$lg-menu-padding;

// // Content positioning
$lg-vspace:			28px;
$lg-hspace:			28px;
$md-vspace:			$lg-vspace / 2;
$md-hspace:			$lg-hspace / 2;
$sm-vspace:			$lg-vspace / 2;
$sm-hspace:			$lg-hspace / 2;
$xs-vspace:			$lg-vspace;
$xs-hspace:			0;